@media screen and (max-width: 1200px) {
  .big-article__text img {
    margin: 15px 0 25px;
  }
  .big-article__text ul li {
    padding-left: 39px;
  }
  .big-article__text {
    padding-top: 40px;

    p, li {
      margin-bottom: 25px;
    }

    h2 {
      font-size: 28px;
      line-height: 1.2;
    }

    h3 {
      font-size: 24px;
      line-height: 1.2;
    }

    h4 {
      font-size: 22px;
      line-height: 1.2;
    }

    h5 {
      font-size: 20px;
      line-height: 1.2;
    }

    h6 {
      font-size: 18px;
      line-height: 1.2;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: 600;
    }
  }
  .big-article-steps {
    padding-top: 40px;
  }
  .big-article__text blockquote {
    padding: 30px 60px;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 25px;

    &::before {
      left: 17px;
    }

    &::after {
      right: 25px;
    }
  }
  .big-article__step {
    padding-left: 30px;
  }
  .single-blog .textual h2, .single-blog .textual h3 {
    font-size: 20px;
    line-height: 1.2;
  }
  .single-blog .textual {
    padding: 20px;
  }
  .hp-services {
    .single-blog:nth-child(9n - 8) .ln, .single-blog:nth-child(9n - 3) .ln {
      padding-left: 20px;
      padding-right: 20px;
    }
    .single-blog:nth-child(9n - 8) .textual h2, .single-blog:nth-child(9n - 8) .textual h3, .single-blog:nth-child(9n - 3) .textual h2, .single-blog:nth-child(9n - 3) .textual h3 {
      font-size: 30px;
      line-height: 1.2;
    }
    .single-blog:nth-child(9n - 8) .txt p, .single-blog:nth-child(9n - 3) .txt p {
      font-size: 18px;
      line-height: 1.2;
    }
  }

  .single-blog .tags {
    gap: 16px;
  }
  .single-blog .tags p, .single-blog .tags span {
    font-size: 14px;
    line-height: 1.2;
  }
  .single-blog .date {
    font-size: 14px;
    line-height: 1.2;
  }
  .blog-hero-block p {
    margin-bottom: 36px;
  }
  .blog-hero-block {
    padding: 80px 0;
  }
  .blog-hero-block ul {
    gap: 18px;
  }
  .blog-hero-block ul li a {
    font-size: 19px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1100px) {

  .big-article__text {
    width: 100%;
    padding-bottom: 60px;
  }
  .big-article__step {
    padding-left: 15px;
    padding-right: 15px;
  }
  .big-article-steps {
    display: none;
  }
  .big-article {
    width: 100%;
    background: #F2F1F1;
  }
  .blog-article-hero {
    width: 100%;
    max-width: 100%;
  }
  .blog-article-hero h1 {
    font-size: 32px;
    line-height: 1.2;
  }
  .blog-article-hero p {
    font-size: 18px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 940px) {
  .hp-services {
    .single-blog:nth-child(9n - 8) .textual h2, .single-blog:nth-child(9n - 8) .textual h3, .single-blog:nth-child(9n - 3) .textual h2, .single-blog:nth-child(9n - 3) .textual h3 {
      font-size: 22px;
      line-height: 1.2;
    }
    .single-blog:nth-child(9n - 8) .txt p, .single-blog:nth-child(9n - 3) .txt p {
      font-size: 16px;
      line-height: 1.2;
    }
  }
  .single-blog .txt p {
    font-size: 16px;
    line-height: 1.2;
  }
  .blog-list {
    gap: 16px;
  }
  .single-blog .txt {
    opacity: 1;
    transform: translate(0);
  }
  .single-blog {
    width: calc(50% - 8px);
    padding-top: calc(50% - 8px);

    &:nth-child(1) {
      width: 100%;
    }

    &:last-child {
      width: 100%;
    }
  }
  .hp-services {
    .single-blog:nth-child(9n - 8), .single-blog:nth-child(9n - 3){
      width: calc(50% - 8px);
      padding-top: calc(50% - 8px);
    }
  }
}

@media screen and (max-width: 800px) {
  .big-article__step {
    padding-left: 0;
    padding-right: 0;
  }
  .big-article__text {
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 22px;
    }
    h4 {
      font-size: 20px;
    }
    h5, h6 {
      font-size: 18px;
    }
  }
  .big-article__text blockquote {
    font-size: 16px;
    line-height: 1.2;
    padding: 20px 30px;
    &::before, &::after {
      width: 16px;
      height: 16px;
    }
    &::before{
      top: 5px;
      left: 5px;
    }
    &::after {
      bottom: 5px;
      right: 5px;
    }
  }
  .blog-hero-block {
    h1 {
      margin-left: auto;
      text-align: center;

      sup {
        font-size: 14px;
        line-height: 1;
        padding: 4px 8px;
      }
    }

    p {
      width: 100%;
      text-align: center;
      font-size: 16px;
      line-height: 1.2;
    }
  }
  .blog-hero-block ul {
    justify-content: center;
  }
  .blog-hero-block ul li a {
    font-size: 16px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 640px) {
  .blog-article-hero {
    padding: 70px 0 30px;
  }
  .blog-article-hero h1 {
    font-size: 24px;
    line-height: 1.2;
  }
  .blog-article-hero .tags {
    padding-bottom: 40px;
  }
  .blog-article-hero p {
    font-size: 16px;
    line-height: 1.2;
  }
  .blog-article-hero .socs {
    padding-top: 40px;
  }
  .blog-article-hero h1::after {
    margin-top: 13px;
  }
  .blog-hero-block {
    padding-bottom: 30px;
  }
  .show-more-btn {
    margin-top: 20px;
    margin-bottom: 20px;

    a {
      font-size: 16px;
      line-height: 1.2;
      padding: 12px;
    }
  }
  .single-blog .textual {
    justify-content: flex-end;
  }
  .single-blog .ln {
    top: 10px;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
  }
  .hp-services {
    .single-blog:nth-child(9n - 3) .ln, .single-blog:nth-child(9n - 8) .ln {
      top: 10px;
    }
    .single-blog:nth-child(9n - 3),.single-blog:nth-child(9n - 8) {
      width: 100%;
      padding-top: 96%;
    }
  }

  .single-blog {
    width: 100%;
    padding-top: 96%;

    .txt {
      display: none;
    }
  }
  body .hp-map-sec .locations {
    display: block;
      .location {
        font-size: 2vw;
        &:nth-child(1) {
          top: 18.15vw !important;
          left: -3.08vw !important;
        }
        &:nth-child(2) {
          top: 30.13vw !important;
          left:  0.01vw !important;
        }
        &:nth-child(3) {
          top: 21.3vw !important;
          left:  12.13vw !important;
        }
        &:nth-child(4) {
          top: 24.83vw !important;
          left:  11.72vw !important;
        }
        &:nth-child(5) {
          top: 31.43vw !important;
          left:  11.04vw !important;
        }
        &:nth-child(6) {
          top: 17.09vw !important;
          left:  17.16vw !important;
        }
        &:nth-child(7) {
          top: 22.94vw !important;
          left:  21.91vw !important;
        }
        &:nth-child(8) {
          top: 25.92vw !important;
          left:  22.02vw !important;
        }
        &:nth-child(9) {
          top: 30vw !important;
          left:  21.19vw !important;
        }
        &:nth-child(10) {
          top: 14.89vw!important;
          left:  27.96vw!important;
        }
        &:nth-child(11) {
          top:21.56vw!important;
          left:  38.39vw!important;
        }
        &:nth-child(12) {
          top: 26.15vw!important;
          left:  35.08vw!important;
        }
        &:nth-child(13) {
          top: 27.25vw!important;
          left:  48.08vw!important;
        }
        &:nth-child(14) {
          top: 18vw !important;
          left:  42.91vw !important;
        }
        &:nth-child(15) {
          top: 21.19vw !important;
          left:  48.77vw !important;
        }
        &:nth-child(16) {
          top: 24.2vw!important;
          left: 49.75vw!important;
        }
        &:nth-child(17) {
          top: 30.6vw!important;
          left: 51.42vw!important;
        }
        &:nth-child(18) {
          top: 22.15vw!important;
          left: 59.62vw!important;
        }
        &:nth-child(19) {
          top: 26.25vw!important;
          left: 42.22vw!important;
        }
        &:nth-child(20) {
          top:34.25vw!important;
          left: 45.92vw!important;
        }
        &:nth-child(21) {
          top:25.55vw!important;
          left: 63.82vw!important;
        }
        &:nth-child(22) {
          top:38.85vw!important;
          left: 71.52vw!important;
        }
        &:nth-child(23) {
          top:45.85vw!important;
          left: 42.52vw!important;
        }

      }
  }
}